*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Text Settings */
body, button {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    font-size: 0.80rem;
    padding: 0 5px;
}
/* End of Text Settings */

li {
    display: inline;
}

li a:hover {
    text-decoration: underline;
}

.navigation-container {
    margin-top: 10px;
    margin-right: 15px;
    text-align: right;
}

.products-icon-container {
    display: inline-block;
    width: 35px;
    height: 35px;
    position: relative;
    top: 4px;
    left: 2px;
}

.products-icon-container:hover {
    background-color: lightgrey;
    border-radius: 100%;
}

.products-icon {
    object-fit: contain;
    height: 60%;
    width: 60%;
    /*settings below to nudge the little icon to the middle of the circle*/
    margin-right: 7px;
    margin-top: 7px;
}

.sign-in-button {
    color: white;
    border: none;
    padding: 10px 30px;
    background-color: #1a73e8;
    border-radius: 5px;
    cursor: pointer;
}

.sign-in-button:hover {
    opacity: 93%;
}

main {
    text-align: center;
    margin: 200px;
}

.search-bar-container {
    display: block;
    outline: none;
    width: 580px;
    height: 45px;
    border: none;
    box-shadow: inset 0 0 1px #b1b1b1;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;    
    margin-top: 30px; /*pushed search box downwards to match Google homepage*/
}

 input[type=search] {
     margin-top: 2px;
    width: 90%;
    height: 90%;
    outline: none;
    border: none;
    
    /* outline: none;
    width: 600px;
    height: 40px;
    border: none;
    box-shadow: inset 0 0 1px #b1b1b1;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px; */
} 

.search {
    border: none;
    background-color: white;
    opacity: 35%;
    padding-right: 8px;
}


.search-bar-container:hover {
    outline: none;
    box-shadow: 0 0 5px 1px #d4d4d4;
} 

.search-button {
    margin-top: 30px;
    border: none;
    padding: 8px 18px;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    background-color: #f8f9fa;
    margin-right: 10px;
    font-size: 0.90rem;
    margin-bottom: 30px;
}

.search-button:hover {
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 3px 1px #d4d4d4;
}

.offered-languages-text {
    font-size: 0.8rem;
}

.language-text {
    color: #1a0dab;
    margin-left: px;
} 

.language-text:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #f2f2f2;
}

.footer-section {
    background-color: #f2f2f2;
    color: #70757a;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

.final-footer-section {
    display: inline;
}

.footer-section li {
    font-size: 0.9rem;
    margin-right: 10px;
}

.footer-section li a{
    font-size: 0.9rem;
    color: #70757a;
}

.right {
    float: right;
}


